@import "../../index.scss";

.top-nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: $color-black;
    align-items: center;
    margin-bottom: 20px;
}
