@import "../../index.scss";

.top-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        $color-grey-dark 25%,
        rgba(255, 255, 255, 0) 100%
    );
}
