@import "../../index.scss";

.sidebar {
    background-color: $color-grey-dark;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 20px 0;

    li {
        margin-bottom: 10px;

        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.4);
            padding: 6px 14px;
            display: flex;
            font-weight: 300;
            justify-content: flex-start;
            align-items: center;
            border-left: 4px solid $color-grey-dark;

            &.active,
            &:hover,
            &:focus {
                color: $color-white;
                border-color: $color-green;

                span {
                    background-color: $color-white;
                }
            }
        }

        span {
            display: block;
            width: 22px;
            height: 22px;
            margin-right: 14px;
            background-color: rgba(255, 255, 255, 0.4);
        }
    }

    &__collection {
        margin-bottom: 40px;
    }

    &__collection-title {
        padding-left: 24px;
        margin-bottom: 14px;
    }
}
