@import "./index.scss";

@import url("https://fonts.googleapis.com/css?family=Signika:300,400,600,700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    background-color: $color-black;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Signika";
    font-size: 16px;
    color: $color-white;
}

h4 {
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.05em;
}

ul {
    li {
        list-style-type: none;
    }
}

#root,
.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    width: calc(100% - 200px);
    height: 100%;
    top: 0;
    right: 0;
    padding: 0 40px 20px;
}
